:root {
  --color-primary: #6f1eaa;
  --color-main: #000000;
  --color-white: #fff;
  --color-orange: #f7a500;
  --color-gray: #faf9f6;
  --color-yelow: #fff7c2;
  --font-size-small: 14px;
  --line-height-small: 18.2px;
  --font-size-subtitle: 20px;
  --line-height-subtitle: 28px;
  --font-size-btn: 16px;
  --line-height-btn: 19px;
  --font-size-midle: 44px;
  --line-height-midle: 53px;
  --font-size-h3: 24px;
  --line-height-h3: 31.68px;
  --line-height-p: 22.72px;

  --font-size-big: 55px;
  --line-height-big: 67px;
}

.header {
  padding: 20px 0;
  flex: 0 0 auto;
}

.header__container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__ul {
  display: flex;
  gap: 33px;
}

.header__link {
  color: var(--color-main);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.header__login {
  display: flex;
  align-items: center;
  gap: 33px;
}

.header__login-link {
  color: var(--color-primary);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.header__login-btn {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 18.2px;
  padding: 10px 40px;
  border-radius: 19px;
  background: var(--color-primary);
}

.main {
  flex: 1 0 auto;
}

.slider {
  background: url(../img/slider-first-bg.png) no-repeat,
    url(../img/slider-second-bg.png) no-repeat right, #fef7e5;
}

.slider__container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 102px 15px 244px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.slider__title {
  color: var(--color-main);
  text-align: center;
  font-size: var(--font-size-big);
  line-height: var(--line-height-big);
  max-width: 565px;
  width: 100%;
  margin-bottom: 32px;
}

.slider__subtitle {
  color: var(--color-main);
  text-align: center;
  font-size: var(--font-size-subtitle);
  line-height: var(--line-height-subtitle);
  max-width: 491px;
  width: 100%;
  margin-bottom: 23px;
}

.slider__subtitle-link {
  color: var(--color-primary);
}

.slider__btn {
  padding: 15px 40px;
  display: inline-block;
  color: var(--color-white);
  font-weight: 700;
  font-size: var(--font-size-btn);
  line-height: var(--line-height-btn);
  border-radius: 24px;
  background: var(--color-primary);
}

.slider__rabbit {
  position: absolute;
  bottom: 0;
  right: 326px;
}

.info {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.info__container {
  display: flex;
  gap: 43px;
  padding: 58px 40px 0 40px;
}

.info__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.info__left-title {
  color: var(--color-main);
  font-size: var(--font-size-midle);
  line-height: var(--line-height-midle);
  width: 527px;
}

.info__left-img {
  width: 280px;
  height: 377px;
}

.info__right {
  padding-left: 104px;
}

.info__right-title {
  font-weight: 700;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  color: var(--color-primary);
  margin-bottom: 19px;
}

.info__right-subtitle {
  font-size: var(--font-size-btn);
  line-height: var(--line-height-p);
  color: var(--color-main);
}

.info__right-border {
  width: 100%;
  height: 1px;
  background: var(--color-orange);
  margin: 30px 0;
}

.works {
  background: var(--color-gray);
  padding: 60px 0;
}

.works__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.works__title {
  text-align: center;
  font-size: var(--font-size-midle);
  line-height: var(--line-height-midle);
  margin-bottom: 50px;
}

.works__main {
  display: flex;
  flex-direction: row;
}

.works__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 359px;
}

.works__card-wrap {
  width: 192px;
  height: 192px;
  background: var(--color-yelow);
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works__card-img {
  max-width: none;
}

.works__card-title {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  color: var(--color-primary);
  margin-bottom: 10px;
}

.works__card-subtitle {
  font-size: var(--font-size-btn);
  line-height: var(--line-height-p);
  text-align: center;
}

.works__btn-wrap {
  width: 100%;
  margin-top: 65px;
  display: flex;
  justify-content: center;
}

.works__btn {
  display: inline-block;
  padding: 15px 40px;
  color: var(--color-white);
  font-size: var(--font-size-btn);
  line-height: var(--line-height-btn);
  background: var(--color-primary);
  font-weight: 700;
  border-radius: 24px;
}

.footer {
  flex: 0 0 auto;
}
