:root {
  --color-primary: #6f1eaa;
  --color-main: #000000;
  --color-white: #fff;
  --color-orange: #f7a500;
  --color-gray: #faf9f6;
  --color-yelow: #fff7c2;
  --color-gray-spays: #f6f3fa;
  --color-turquoise: #dff5f6;
  --color-pink: #e8dcf8;
  --color-footer: #48156d;
  --color-footer-title: #c282f0;
  --font-size-micro: 11px;
  --font-size-small: 14px;
  --line-height-small: 18.2px;
  --font-size-subtitle: 20px;
  --line-height-subtitle: 28px;
  --font-size-btn: 16px;
  --line-height-btn: 19px;
  --font-size-midle: 44px;
  --line-height-midle: 53px;
  --font-size-h3: 24px;
  --line-height-h3: 31.68px;
  --line-height-p: 22.72px;
  --line-height-reviews: 25.6px;
  --font-size-footer-title: 12px;
  --line-height-footer-title: 14px;

  --font-size-big: 55px;
  --line-height-big: 67px;
}

.header {
  padding: 20px 0;
  flex: 0 0 auto;
}

.header__container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__ul {
  display: flex;
  gap: 33px;
}

.header__link {
  color: var(--color-main);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.header__logo {
  margin-right: 122px;
}

.header__login {
  display: flex;
  align-items: center;
  gap: 33px;
}

.header__login-link {
  color: var(--color-primary);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.header__login-btn {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 18.2px;
  padding: 10px 40px;
  border-radius: 19px;
  background: var(--color-primary);
}

.main {
  flex: 1 0 auto;
}

.slider {
  background: url(../img/slider-first-bg.png) no-repeat,
    url(../img/slider-second-bg.png) no-repeat right, #fef7e5;
}

.slider__container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 102px 15px 244px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.slider__title {
  color: var(--color-main);
  text-align: center;
  font-size: var(--font-size-big);
  line-height: var(--line-height-big);
  max-width: 565px;
  width: 100%;
  margin-bottom: 32px;
}

.slider__subtitle {
  color: var(--color-main);
  text-align: center;
  font-size: var(--font-size-subtitle);
  line-height: var(--line-height-subtitle);
  max-width: 491px;
  width: 100%;
  margin-bottom: 23px;
}

.slider__subtitle-link {
  color: var(--color-primary);
}

.slider__btn {
  padding: 15px 40px;
  display: inline-block;
  color: var(--color-white);
  font-weight: 700;
  font-size: var(--font-size-btn);
  line-height: var(--line-height-btn);
  border-radius: 24px;
  background: var(--color-primary);
}

.slider__rabbit {
  position: absolute;
  bottom: 0;
  right: 326px;
}

.info {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.info__container {
  display: flex;
  gap: 43px;
  padding: 58px 40px 0 40px;
}

.info__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.info__left-title {
  color: var(--color-main);
  font-size: var(--font-size-midle);
  line-height: var(--line-height-midle);
  width: 527px;
}

.info__left-img {
  width: 280px;
  height: 377px;
}

.info__right {
  padding-left: 104px;
}

.info__right-title {
  font-weight: 700;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  color: var(--color-primary);
  margin-bottom: 19px;
}

.info__right-subtitle {
  font-size: var(--font-size-btn);
  line-height: var(--line-height-p);
  color: var(--color-main);
}

.info__right-border {
  width: 100%;
  height: 1px;
  background: var(--color-orange);
  margin: 30px 0;
}

.works {
  background: var(--color-gray);
  padding: 60px 0;
}

.works__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.works__title {
  text-align: center;
  font-size: var(--font-size-midle);
  line-height: var(--line-height-midle);
  margin-bottom: 50px;
}

.works__main {
  display: flex;
  flex-direction: row;
}

.works__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 359px;
}

.works__card-wrap {
  width: 192px;
  height: 192px;
  background: var(--color-yelow);
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works__card-img {
  max-width: none;
}

.works__card-title {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  color: var(--color-primary);
  margin-bottom: 10px;
}

.works__card-subtitle {
  font-size: var(--font-size-btn);
  line-height: var(--line-height-p);
  text-align: center;
}

.works__btn-wrap {
  width: 100%;
  margin-top: 65px;
  display: flex;
  justify-content: center;
}

.works__btn {
  display: inline-block;
  padding: 15px 40px;
  color: var(--color-white);
  font-size: var(--font-size-btn);
  line-height: var(--line-height-btn);
  background: var(--color-primary);
  font-weight: 700;
  border-radius: 24px;
}

.support {
  background: var(--color-gray-spays);
}

.support__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.support__left-img {
  max-width: none;
}

.support__right {
  padding-left: 24px;
}

.support__right-category {
  color: var(--color-orange);
  font-size: var(--font-size-btn);
  line-height: var(--line-height-p);
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.support__right-title {
  font-size: var(--font-size-midle);
  line-height: var(--line-height-midle);
  font-weight: 400;
  margin-bottom: 43px;
}

.support__right-subtitle {
  font-size: var(--font-size-btn);
  line-height: var(--line-height-p);
  margin-bottom: 26px;
}

.support__right-btn {
  display: inline-block;
  padding: 15px 40px;
  color: var(--color-white);
  font-size: var(--font-size-btn);
  line-height: var(--line-height-btn);
  background: var(--color-primary);
  font-weight: 700;
  border-radius: 24px;
}

.reviews {
  padding-top: 58px;
  padding-bottom: 162px;
}

.reviews__title {
  text-align: center;
  font-size: var(--font-size-midle);
  line-height: var(--line-height-midle);
  font-weight: 700;
  margin-bottom: 24px;
}

.reviews__subtitle {
  text-align: center;
  font-size: var(--font-size-subtitle);
  line-height: var(--line-height-subtitle);
  margin-bottom: 27px;
}

.reviews__subtitle-link {
  color: var(--color-primary);
}

.reviews__block {
  position: relative;
  max-width: 1072px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  background: var(--color-turquoise);
  border-radius: 20px;
  padding: 28px 40px;
  align-items: center;
  gap: 40px;
}

.reviews__block-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviews__right-text {
  font-size: var(--font-size-btn);
  line-height: var(--line-height-reviews);
}

.reviews__right-name {
  display: flex;
  gap: 16px;
  align-items: center;
}

.reviews__name-text {
  font-size: var(--font-size-subtitle);
  line-height: var(--line-height-h3);
}

.reviews__lovs {
  position: absolute;
  right: -114px;
  top: -157px;
}

.news {
  background: var(--color-gray);
  padding: 57px 0;
}

.news__container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.news__title {
  text-align: center;
  font-size: var(--font-size-midle);
  line-height: var(--line-height-midle);
  margin-bottom: 24px;
}

.news__subtitle {
  text-align: center;
  font-size: var(--font-size-small);
  line-height: var(--line-height-p);
  font-weight: 500;
  width: 468px;
  margin: 0 auto;
}

.news__main {
  margin-top: 74px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 48px;
}

.news__card {
  width: 384px;
  border: 1px solid var(--color-pink);
}

.news__card-content {
  padding: 36px;
}

.news__content-date {
  color: var(--color-orange);
  font-size: var(--font-size-btn);
  line-height: var(--line-height-p);
  margin-bottom: 16px;
  display: inline-block;
}

.news__content-title {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  margin-bottom: 15px;
}

.news__content-subtitle {
  font-size: var(--font-size-micro);
  line-height: var(--line-height-p);
  margin-bottom: 27px;
}

.news__content-link {
  font-size: var(--font-size-btn);
  line-height: var(--line-height-btn);
  color: var(--color-primary);
}

.news__btn-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.news__btn {
  display: inline-block;
  padding: 15px 40px;
  color: var(--color-white);
  font-size: var(--font-size-btn);
  line-height: var(--line-height-btn);
  background: var(--color-primary);
  font-weight: 700;
  border-radius: 24px;
}

.partners {
  background: var(--color-primary);
  padding-top: 40px;
  padding-bottom: 24px;
}

.partners__container {
  padding: 0 55px;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer {
  background: var(--color-footer);
  padding-bottom: 32px;
}

.footer__container {
  padding: 0 55px;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.footer__first {
  padding: 56px 0;
  display: flex;
  gap: 16px;
  padding-left: 193px;
}

.footer__block {
  width: 177px;
  display: flex;
  flex-direction: column;
}

.footer__block-title {
  color: var(--color-footer-title);
  font-size: var(--font-size-footer-title);
  line-height: var(--line-height-footer-title);
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer__block-link {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  color: var(--color-white);
  margin-bottom: 6px;
}

.footer__block-link-margin {
  margin-bottom: 16px;
}

.footer__block-social {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}

.footer__social-wrap {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__second {
  display: flex;
  gap: 18px;
  padding-left: 193px;
}

.footer__second-copy {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  color: var(--color-white);
}

.footer {
  flex: 0 0 auto;
}
